body {
  font-family: 'Segoe UI', sans-serif;
  color: #eee;
  background: rgba(41, 41, 41, 0.966);
  border-radius: 20px;
  margin: 0;
  padding: 0 20px;
  backdrop-filter: blur(12px);          /* размытие заднего фона */
  -webkit-backdrop-filter: blur(12px);  /* поддержка Safari */
}

h2 {
  font-size: 1.8em;
  margin: 10px;
  color: var(--accent-color);
  text-shadow: var(--accent-color) 1px 0 1px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.control {
  margin-bottom: 20px;
}

.group {
  box-sizing: border-box;
  background: rgba(46, 46, 46, 0.4); /* полупрозрачный фон */
  padding: 20px;
  border-radius: 20px;
  width: 49%;
  
  border: 1px solid rgba(77, 77, 77, 0.15); /* лёгкая рамка для глубины */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.247);   /* мягкая тень */
}

/* .group.status {
  width: 100%;
} */

.group.status span {
  color: #9b9b9b;
}
.group-settings {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 0.95em;
}

input[type="range"] {
  width: 100%;
  height: 10px; /* было 8px */
  border-radius: 6px;
  background: #434343;
  outline: none;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  border: 1px solid var(--accent-color);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--accent-color);
  cursor: pointer;
  transition: transform 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

button {
  width: 100%;
  padding: 14px 24px;
  font-size: 1em;
  background: #444;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: var(--accent-color);
}

#preview {
  width: 100%;
  height: 60px;
  border-radius: 16px;
  margin: 20px 0;
  background: var(--accent-color);
  box-shadow: 0px 0px 10px 0px var(--accent-color);
}

#recentColors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
  gap: 6px;
  margin-top: 12px;
}

.swatch {
  width: 32px;
  height: 32px;
  border-radius: 12px;
  cursor: pointer;
}

details[open] summary {
  margin-bottom: 20px;
}

summary {
  cursor: pointer;
}

input[type="text"],
input[type="number"] {
  box-sizing: border-box;
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
  color: #eee;
  background-color: transparent;
  border: 1px solid #444;
  border-radius: 10px;
  outline: none;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: 1px solid var(--accent-color);
  outline: 0;
} 

summary:focus {
  outline: none;
  border-color: 1px solid var(--accent-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Общий стиль скроллбара */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Трек (фон) */
::-webkit-scrollbar-track {
  background: #292929;
  border-radius: 4px;
}

/* Ползунок */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 4px;
  
}

/* При наведении */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
